.navbar{
    background-color: rgb(68, 65, 65);
    padding: 20px 0;
    color: white;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
    .maxWidth{
        display: flex;
        justify-content: space-around;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
        

        .navright {
            display: flex;
            max-width: 300px;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: space-around;
        }





    }

    
} 
  