
.herocontainer {

    height: 450px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    /* background-color: rgb(68, 65, 65); */
    
    .fotoMia {
        backdrop-filter: blur(10px); 
        border-radius: 70px;    
        margin: 0 0 15px 0;
    }
  
    .presentation { 
        display: block;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        font-style: bold;
        color: black;
        border-radius: 10px;
        padding-bottom: 30px;  
        .p, .h2{
            backdrop-filter: blur(10px);
            color: black;
            background-color: rgba(240, 234, 234, 0.753);
            border-radius: 10px;    
        }
        
    }

    .sections {
        color: orange;
        padding: 20px 0 0 0;
        justify-content: space-around;
        display: inline-flex;
        gap: 110px; /* Espacio entre elementos */
        text-decoration: underline;
    }

        

}